<a href="https://colab.research.google.com/github/Anushaab05/linear-regression/blob/main/lr1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
data=pd.read_csv("/content/archive.zip")

In [3]:
data.head()

    GPA  GMAT Decision
0  2.96   596    admit
1  3.14   473    admit
2  3.22   482    admit
3  3.29   527    admit
4  3.69   505    admit

x=data[['GPA','GMAT','Decision']]

In [6]:
x=data[['GPA','GMAT']]

In [8]:
y=data[['Decision']]

In [9]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.20,random_state=0)

In [10]:
x_train

     GPA  GMAT
54  2.60   394
62  3.28   371
74  2.73   467
22  3.33   565
6   3.03   626
..   ...   ...
81  2.85   483
67  2.80   444
64  3.15   313
47  2.13   408
44  2.46   509

[68 rows x 2 columns]

In [12]:
from sklearn.linear_model import LogisticRegression
L=LogisticRegression()
L.fit(x_train,y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression()

In [13]:
y_pred=L.predict(x_test)

In [14]:
y_pred

array(['border', 'admit', 'border', 'notadmit', 'notadmit', 'border',
       'notadmit', 'border', 'notadmit', 'notadmit', 'admit', 'admit',
       'notadmit', 'border', 'border', 'admit', 'admit'], dtype=object)

In [16]:
from sklearn import metrics 
print ('Accuracy:',metrics.accuracy_score(y_test,y_pred)*100)

Accuracy: 82.35294117647058